<nav>
  <div class="wrapper">
    <h1>Table <span class="preposition">of</span> contents</h1>
    <ol>
      <li class="Overview"><a href="{{site.baseurl}}/">Overview</a></li>
      <li class="1-definition">Innovation Definition</li>
      <ol>
        <li class="1-what-is-government-innovation"><a href="{{site.baseurl}}/_pages/1-definition/1-what-is-government-innovation">What is Government Innovation?</a>
        <li class="2-about-this-toolkit"><a href="{{site.baseurl}}/_pages/1-definition/2-about-this-toolkit">About this Toolkit</a>
        <li class="3-innovation-midsets"><a href="{{site.baseurl}}/_pages/1-definition/3-innovation-mindsets">Innovation Mindsets</a>
    </ol></li>
      <li class="primers">Culture of Innovation
        <ol>
          <li class="1-tour-of-duty">Fixing the Foundation</li>
          <li class="1-tour-of-duty"><a href="{{site.baseurl}}/2-culture/foundation/1-tour-of-duty">Tour of Duty Hiring</a></li>
          <li class="2-hiring-CINO"><a href="{{site.baseurl}}/2-culture/foundation/2-hiring-CINO">Hiring a Chief Innovation Officer</a></li>
          <li class="3-acquisitions"><a href="{{site.baseurl}}/2-culture/foundation/3-acquisitions">Acquisitions and Contracting Innovations</a></li>
          <li class="4-partnerships"><a href="{{site.baseurl}}/2-culture/foundation/4-partnerships">Public-Private Partnerships</a></li>
        </ol>
        <ol>
           <li class="process">Things to Try</li>   
           <li class="1-evidence-grants"><a href="{{site.baseurl}}/2-culture/things-to-try/1-evidence-grants">Tiered Evidence Grant Programs</a></li>
          <li class="2-hiring-CINO"><a href="{{site.baseurl}}/2-culture/things-to-try/2-challenges">Grand Challenges</a></li>
          <li class="3-acquisitions"><a href="{{site.baseurl}}/2-culture/things-to-try/3-icorps">iCorps</a></li>
        </ol></li>
      <li class="innovation-stories">Innovation Stories
      <ol>
        <li class="1-people"><a href="{{site.baseurl}}/_pages/3-stories/1-people">Innovation Stories: People</a>
        <li class="2-places"><a href="{{site.baseurl}}/_pages/3-stories/1-places">Innovation Stories: Places</a>
      </li>
      </ol>
  </div>
</nav>
