
<ul class="usa-sidenav-list">
  <li>
    <a href="/">Introduction</a>
  </li>
  <li>
    <a href="/policy/">Policy</a>
  </li>
  {% if page.title == "FedRAMP Tailored" %}
  <li>
    <ul class="usa-sidenav-sub_list">
      <li>
        <a href="#purpose">Purpose</a>
      </li>
      <li>
        <a href="#authority">Authority</a>
      </li>
      <li>
        <a href="#fedramp-tailored-lisaas-requirements">LISaaS Requirements</a>
      </li>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a href="#step-1---categorize-information-system">Step 1 - Categorize Information System</a>
        </li>
        <li>
          <a href="#step-2---select-security-controls">Step 2 - Select Security Controls</a>
        </li>
        <li>
          <a href="#step-3---implement-security-controls">Step 3 - Implement Security Controls</a>
        </li>
        <li>
          <a href="#step-4---assess-security-controls">Step 4 - Assess Security Controls</a>
        </li>
        <li>
          <a href="#step-5---authorize-information-system">Step 5 - Authorize Information System</a>
        </li>
        <li>
          <a href="#step-6---monitor-security-controls">Step 6 - Monitor Security Controls</a>
        </li>
      </ul>
      <li>
        <a href="#references">References</a>
      </li>
    </ul>
  </li>
  {% endif %}
  <li>
    <a href="/appendices/">Appendices</a>
  </li>
  {% if page.title == "Appendices" %}
  <ul class="usa-sidenav-sub_list">
    <li>
      <a href="#appendix-a---fedramp-tailored-security-controls-baseline">APPENDIX A - Security Controls Baseline</a>
    </li>
    <ul class="usa-sidenav-sub_list">
      <li>
        <a href="#fedramp-tailored-csp-response">FedRAMP Tailored - CSP Response</a>
      </li>
      <li>
        <a href="#fedramp-tailored---details">FedRAMP Tailored - Details</a>
      </li>
    </ul>
    <li>
      <a href="#appendix-b---fedramp-tailored-mandatory-templates">APPENDIX B - Mandatory Templates</a>
    </li>
    <li>
      <a href="#appendix-c---fedramp-tailored-ato-letter-template">APPENDIX C - ATO Letter Template</a>
    </li>
    <li>
      <a href="#appendix-d---fedramp-tailored-continuous-monitoring-requirements">APPENDIX D - Continuous Monitoring Requirements</a>
    </li>
    <li>
      <a href="#appendix-e---fedramp-tailored-self-attestation-requirements">APPENDIX E - Self-Attestation Requirements</a>
    </li>
  </ul>
  {% endif %}
  <li>
    <a href="/glossary/">Glossary</a>
  </li>
</ul>
