<a class="skipnav" href="#main-content">Skip to main content</a>

<header class="usa-site-header" role="banner">

  <div class="usa-disclaimer">
    <span class="usa-disclaimer-official">
      <img class="usa-flag_icon" alt="usa flag icon" src="{{ site.baseurl }}/assets/img/us_flag_small.png">
      {{ site.banner }}
    </span>
    <span class="usa-disclaimer-stage">This site is currently in {{ site.phase }}</span>
  </div>

  <nav class="usa-hero-navbar">
    <div class="usa-grid">
      <div class="site-logo" id="logo">
        <em>
          <a href="/" accesskey="1" title="Home" aria-label="Home">
            {{ site.title }}</a>
        </em>
      </div>
      <ul class="usa-button-list usa-unstyled-list">
        <li>
          <a class="usa-button usa-button-secondary" target="_blank" href="{{ site.repo }}/issues" onclick="ga('send', 'event', 'Viewed on Github', 'Clicked View on Github from inside site');">
            Submit a Comment
          </a>
          <a class="usa-button usa-button-outline-inverse" target="_blank" href="{{ site.repo }}" onclick="ga('send', 'event', 'Viewed on Github', 'Clicked View on Github from inside site');">
            View on GitHub
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!--
<nav class="site-nav-secondary js-sticky-nav">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/glossary">Glossary</a>
    </li>
  </ul>
</nav>
-->
