<footer class="usa-footer usa-footer-slim" role="contentinfo">
   <div class="usa-footer-primary-section">
     <div class="usa-grid-full">
       <nav class="usa-footer-nav usa-width-two-thirds">
         <ul class="usa-unstyled-list">
           <li class="usa-width-one-fourth usa-footer-primary-content">
             <a class="usa-footer-primary-link" href="https://www.fedramp.gov" target="_blank"><img src="{{ site.baseurl }}{{ site.logo }}" alt="FedRAMP"></a>
           </li>
         </ul>
       </nav>
       <div class="usa-width-one-third">
         <div class="usa-footer-primary-content usa-footer-contact_info">
           <p>Comment by email</p>
         </div>
         <div class="usa-footer-primary-content usa-footer-contact_info">
           <a href="mailto:info@fedramp.gov">info@fedramp.gov</a>
         </div>
       </div>
     </div>
   </div>

   <div class="usa-footer-secondary_section">
     <div class="usa-grid">
       <div class="usa-footer-logo width-one-half">
         <a class="usa-footer-slim-logo-img" href="https://www.gsa.gov/tts" target="_blank"><img src="{{ site.baseurl }}/assets/GSA.png" alt="General Services Adminstration"></a>
       <div class="usa-footer-contact-links width-one-half">
         <p>A federal government website managed by the <br>Technology Transformation Service</br>U.S. General Services Administration.<br>1800 F Street Northwest, Washington, DC 20405</p>
         <p><a href="http://www.gsa.gov/portal/content/116609" target="blank">Privacy Policy</a> | <a href="{{ site.repo }}" target="blank">Source Code</a></p>
      </div>
     </div>
   </div>
 </footer>
