<footer class="usa-footer usa-background-dark">
  <p>
    A <a href="https://www.fedramp.gov" target="_blank"><img src="{{ site.baseurl }}{{ site.logo }}" alt="FedRAMP"></a> product.
  </p>
  <address>
    <p>
      <a href="mailto:info@fedramp.gov" target="blank">info@fedramp.gov</a><br/>
      <a href="{{ baseurl }}/sitemap.xml" target="blank">Sitemap</a> | <a href="http://www.gsa.gov/portal/content/116609" target="blank">Privacy Policy</a> | <a href="{{ site.repo }}" target="blank">Source Code</a><br/><br/>
      A federal government website managed by the U.S. General Services Administration.<br/>1800 F Street Northwest, Washington, DC 20405<br/><br/>
    </p>
  </address>
</footer>
